* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}


.section_top {

    background: rgba(253, 253, 253, 0.212);
    /*Color*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    min-height: 50px;
    border-bottom: 1px solid #909090;
}

.section_middle {

    display: flex;
    flex-direction: row;
    height: 100vh;

}

/* Seccion Icono menu + logo*/

.section_top nav {

    width: 250px;
    /* x <-- (icono menu + logo)*/
    height: 50px;
    border-bottom: 1px solid #909090;


}

.section_top nav .btn_details {

    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.section_top nav .btn_details i {

    font-size: 40px;
    color: #ffff;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.section_top nav .btn_details img {

    width: 200px;
}

/*  seccion busqueda*/
.section_top .busqueda {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section_top .busqueda input {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.329);
    border: none;
}

.section_top .busqueda i {

    border-radius: 15px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 25px;
    color: #ffff;
    text-align: center;
    cursor: pointer;
}

/*  seccion perfil*/

.section_top .perfil {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section_top .perfil img {
    width: 40px;
    height: 40px;
    border-radius: 25px;

}

.section_top .perfil i {

    border-radius: 15px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 25px;
    color: #ffff;
    text-align: center;


    cursor: pointer;
}

/*Style Menu Nav*/
aside {

    transition-duration: 300ms;
    transform: translateX(-100%)
}

.section_menu aside {

    background: rgb(0, 0, 0);
    /*Color*/
    width: 250px;
    height: 100vh;
    position: absolute;

}

.section_menu aside .nav_links {

    width: 250px;
    border-bottom: 1px solid #909090;
}

.section_menu aside .nav_links li {


    width: auto;

    position: relative;
    list-style: none;

    margin: 10px 10px 10px 10px;

    border-radius: 15px;
}

.section_menu aside #first {

    background: rgb(88, 88, 88);

}

.section_menu aside .nav_links li:hover {
    background: rgb(88, 88, 88);
}

.section_menu aside .nav_links li i {

    height: 50px;
    min-width: 78px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.section_menu aside .nav_links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*Mini menu*/

.section_mini_menu {

    background: rgb(0, 0, 0);
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: fix;


}

.section_mini_menu li {

    margin: 5px 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    list-style: none;

    color: white;
}

.section_mini_menu li a {

    color: white;

}

.section_mini_menu li:hover {

    background: rgb(88, 88, 88);

}

.desplegar {

    transition-duration: 300ms;
    transform: translateX(0%)
}

/* seccion de parrillas de video*/
main {
    width: auto;
    height: 100vh;


    color: white;
    display: flex;

}


main .parrilla {

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

}

main .parrilla .recomendaciones {

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

main .parrilla .recomendaciones ul {

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;


}

main .parrilla .recomendaciones li {

    list-style: none;
    background: rgba(128, 128, 128, 0.445);
    border-radius: 5px;
    padding: .4rem .6rem;
    cursor: pointer;
    margin: 4px 2px;



}



main .parrilla .filas {

    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;


}


main .parrilla .filas .item_tarjeta {

    width: 370px;
    height: 300px;
    background: rgba(255, 255, 255, 0.178);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px
}

main .parrilla .filas .item_tarjeta img {

    width: 360px;
    margin: 5px 5px 0 5px;
    border-radius: 5px;

}



main .parrilla .filas .item_tarjeta .informacion {
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}


main .parrilla .filas .item_tarjeta .informacion img {

    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;

}

main .parrilla .filas .item_tarjeta .informacion .texto {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;


}